.Agree {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.summaryItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.summaryItem.bold p, .summaryItem.bold h6 {
    font-weight: 600 !important;
    font-size: 16px !important;
}

.summaryItem p {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
}

.summaryItem h6 {
    font-size: 14px;
    font-weight: 500;
}

.totalSeparator {
    background-color: #DBA953;
    height: 2px;
    margin-bottom: 14px;
}

