
.payment_cont {

    width: 100%;

    /* padding: 30px 40px; */

}

.payment_sect {

    display: flex;

    justify-content: space-between;

    /* background-color: transparent; */

    border-radius: 8px;
    background-color: #f1f3f980;
    /* border: 2px solid #DBA955; */

    padding: 10px;

    margin: 20px 0px;

    align-items: center;

    transition: .2s;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.wallet {

    display: flex;

    gap: 10px;

    align-items: center;

    width: 30%;

}

.wallet input {

    width: 20px !important;

    height: 20px;

    margin: 10px !important;

    display: inline-block;

}

.payment_sect > p {

    font-size: 13px;

    color: rgb(39, 39, 39);

}

/* .payment_sect .wallet > p {

    border: 2px solid #DBA955;

} */
.payment_sect .wallet {

    font-size: 15px;
    

}

.payment_sect:hover {

    background-color: white;

    border: 2px solid #DBA955;

}

.payment_sect > input {

    width: 60px !important;

    height: 35px;

    border: none;

    outline: none;

    text-align: center;

    /* background-color: transparent; */
    background-color: #F8F9FC;

    border-bottom: 2px solid rgb(158, 157, 157);

}

.payment_sect span {

    width: 20px;

    height: 20px;

    background-color: white;

}

.payment_sect span img {

    width: 100%;

}

.payment_sect_btn {

    display: flex;

    width: 100%;

    flex-wrap: wrap;

    justify-content: space-between;

    padding: 0px 0px;

}

.payment_sect_btn .pay_sect button {

    padding: 10px 10px;

    width: 100%;

    outline: none;

    border: none;

    border-radius: 5px;

    background-color: #3a4250;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px, inset rgba(46, 46, 51, 0.2) 0px 7px 29px 0px;

}

.payment_sect_btn .pay_sect button a {

    color: white;

    font-weight: bold;

    text-decoration: none;

}

.payment_sect_btn .pay_sect .clr_btns {

    background-color: #D2C4A6;

}

/* css responsive */

@media only screen and (max-width:1024px){


    .payment_cont {

        width: 50%;

    }

}

@media only screen and (max-width:768px){
    .payment_cont {

        width: 100%;

    }
}
@media only screen and (max-width:480px){
    .payment_cont {

        width: 100%;

    }

}

