.Idverification {
    background-color: #f1f3f9;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
.container {
    width: 75%;
    margin: 0 auto;
    background-color: #f1f3f9;
}
.container > h1{
    margin: 20px 0 40px 0;
}
.verify_dash{
    width: 25%;
    padding: 10px 50px;
}
.verify_dash ul{
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 10px #cdcdcd;
    border-radius: 5px;
}
.verify_dash ul li{
    display: flex;
    align-items: center;
    gap: 20px;
}
.verify_dash ul li i{
    color: #bdbec2;
}
.verify_dash ul li:nth-child(2) i{
    color: #d3ab61;
}
.idverify input{
    display: none;
}
.verify_scan,.verify_upload{
    margin: 20px 0;
}
.verify_scan label,.verify_upload label{
    display: flex;
    cursor: pointer;
    gap: 10px;
}
.verify_scan label span,.verify_upload label span{
    color: #d3ab61;
    text-decoration: underline !important;
}
.logo {
    width: 85%;
    display: flex;
    gap: 60px;
    align-items: center;
}
.logo-img {
    width: 75px;
}
.logo-img img {
    width: 100%;
    height: 100%;
}
.logo ul {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo ul li {
    list-style: none;
}
.logo ul li a {
    color: white;
    text-transform: capitalize;
    padding: 28px 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all.3s;
}
.logo ul li a:hover {
    border-bottom: 3px solid #d3ab61;
}
.profile {
    width: 15%;
    display: flex;
    flex: end;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.profile .our-profile {
    width: 50px;
    height: 50px;
}
.profile .our-profile img {
    width: 100%;
    height: 100%;
}
.profile .notification i {
    font-size: 20px;
    color: #ffffff;
}

.home-catagery {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 50px;
    background-color: #FFFFFF;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.home-catagery li {
    list-style: none;
}
.home-catagery li a {
    padding: 12px 20px;
    transition: .2s;
    border-bottom: 3px solid transparent;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
}
.home-catagery li a:hover {
    border-bottom: 3px solid rgb(184, 182, 182);
    border-radius: 5px;
}
.Verification {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    margin: 40px 0px;
    position: relative;
}
 .Verifications{
    display: flex;
    margin: 20px 0;
 }
 .Verifications li{
    display: flex;
    width: 25% !important;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: relative;
 }
 .Verifications li::before{
    content: "";
    width: 20%;
    height: 3px;
    background-color: #d3ab61;
    display: block;
    position: absolute;
    right: 10%;
 }
 .Verifications li:nth-child(4)::before{
    display: none;
 }
 .verify_image{
    position: relative;
    background-color: #d3ab61;
    padding: 9px 10px;
    border-radius: 25px;
    border: 3px solid #f1e1c4;
 }
 .income_image,.loan_image,.agree_image{
    background-color: #bdbec2;
    position: relative;
    padding: 16px ;
    border-radius: 25px;
    border: 3px solid #a5a6aa;

 }
 .verify_image i{
    font-size: 18px;
 }
 .verify_text{
    width: 80%;
 }
 
 .income {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}
.verify_name{
    align-items: center;
    display: flex;
}
.income .img {
    width: 50px !important;
    height: auto;

}
.income .img img {
    width: 100%;
    height: 100%;
}
.income h3 {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
}
.chart {
    width: 100%;
    padding: 20px 0; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 0;
}
.sec-cont {
    justify-content: flex-start;
}
.chart > div{
    width: 50%;
    padding: 0 20px 0 20px ;
}

.chart .select{
    display: flex;
    align-items: end;
}

.job-title .title{
    width: 100%;
    position: relative;
}
.job-title .title span{
    top: 35%;
    right: 15px;
} 
.employment-status .title{
    position: relative;
}
.employment-status .title input{
    padding: 15px 45px 15px 10px;
}
.employment-status .title .icon{
    position: absolute;
    top: 35%;
    right: 10px;
}
.inbild-head {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    padding-left: 10px;
    font-weight: bold;
}
.date-joining .input-parent {
    position: relative;
}
.input-parent .icon{
    position: absolute;
    z-index: 1;
    top: 35%;
    right: 20px;
}
.chart ul {
    width: 100%;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; 
}
.chart ul li {
    list-style: none;
    padding: 10px 0px;
}
.chart ul li a {
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
.chart ul li a:hover {
    color: blue;
}
input {
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px 0px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: 100%;
    outline: none;
    position: relative;
}
.icon {
    position: absolute;
    right: 0;
}
.civil-status {
    padding: 10px 30px;
    margin: 45px 10px 30px 70px;
}
.civil-status h3 {
    color: black;
    font-size: 30px;
    font-family:'Inter', sans-serif;
    text-transform: capitalize;
}
.civil-status p {
    color: black;
    margin:10px 0px;
    font-size: 15px;
    font-family:'Inter', sans-serif;
    text-transform: capitalize;
}
.add-icon {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 0px;
}
.add-icon i {
    color: #d3ab61;
    font-size: 20px;
}
.add-icon p {
    color: black;
    margin:10px 0px;
    font-size: 15px;
    font-family:'Inter', sans-serif;
    text-transform: capitalize; 
}
.last-job {
    margin-bottom: 100px;
}

.check-box {
    width: 100%;
    display: flex;
}
.checkbox {
    width: 40%;
    padding: 10px 0px;
    text-align: left;
    margin: 20px 0px 40px 0px;
}
.check-box input {
    padding: 5px ;
    width: 50px !important;
    box-shadow: none;
    color: #d3ab61;
    margin: 10px 0px;
}
.checkbox {
    display: flex;
}
select {
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px 0px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: 100%;
    outline: none;
    color: gray;
}
.igree {
    align-items: center;
    margin: 40px 0px 20px 0;
    margin: 40px 0px 20px 0px;
    padding: 10px;
    width: 50%;
}
.igree a {
    color: #d3ab61;
    text-decoration: none;
}
.igree p {
    font-size: 14px;
    font-family:'Inter', sans-serif;
}
.igree > input {
    padding: 10px !important;
}
.Idverification .submit_btn {
    /* margin: 0px ; */
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 30px;
}

/*  */
.Idverification .submit_btn button {
    padding: 10px 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 20%;
}
.btn-parent .preview {
    background-color: #151A26;
}
.btn-parent .submit {
    background-color: #d3ab61;
    display: inline-block;
}
.btn-parent button a {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    font-family:'Inter', sans-serif;
    text-decoration: none;
}
.Idverification input,.Income input{
    width: 100% !important;
    font-size: 16px !important;
    padding: 15px 15px 15px 10px !important;
    text-align: left !important;
    margin: 10px 0 !important;
}
.Idverification select,.Income select{
    margin: 10px 0 !important;
}
input[type="checkbox"]{
    width: 25px !important;
    margin: 0 10px !important;
    display: inline-block;
}
.Verification li{
    position: relative;
}
.Verification li img{
    position: absolute;
    top: -7px;
    left: 40%;
    z-index: 1;
}
.charts{
    width: 200px;
    height: 200px;
    position: relative;
}
.charts span{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.active{
    border-bottom:3px solid #d3ab61 ;
}
.active2{
    border-bottom: 3px solid rgb(184, 182, 182) !important;
    border-radius: 5px !important;
}
@media only screen and (max-width:1024px){
    .Idverification{
        width: 100%;
    }
    .verify_dash{
        width: 100%;
    }
    .container{
        width: 90% !important;
        margin: 0 auto;
    }
    .Verifications li::before{
        width: 10%;
    }
}
@media only screen and (max-width:768px){
    .Idverification{
        width: 100%;
    }
    .Verifications{
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 40px 0;
        justify-content: center;
    }
    .Verifications li{
        width: 50% !important;
        /* padding-left: 200px; */
    }
    .Verifications li::before{
        width: 0;
    }
    .verify_text{
        width: auto;
    }
}
@media only screen and (max-width:480px){
    .Idverification{
        width: 100%;
    }
    .verify_dash{
        padding: 10px;
    }
    .Verifications li{
        width: 100% !important;
    }
    .chart > div{
        width: 100%;
    }
    .igree{
        width: 100%;
    }
    .Idverification .submit_btn button{
        width: 100%;
    }
}
