.container {
    display: flex;
    column-gap: 16px;
    width: 100%;
    cursor: pointer;
}

.radioItem {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    width: 32%;
    background-color: #f1f3f980;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #151A2614
}

.checked {
    background-color: #DBA953;
    color: white !important;
}

.checked h6, .checked p {
    color: white !important;
}

.checkIcon {
    font-size: 18px;
    display: inline-block;
}

.descp h6 {
    font-size: 12px;
    font-weight: 500;
    color: #151A26;
}

.descp p {
    font-size: 12px;
    font-weight: 400;
    color: #475467;
}