#Header{
    background-color: #151a26;
    background: linear-gradient(270deg, #0b1c47 0%, #151a26 100%);
    padding: 20px 0px;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 80px;
}
.Header{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.header_logo{
    width: 20%;
    text-align: center;
}
.header_logo img{
    width: 60%;
}
.header_menu{
    width: 60%;
}
.header_menu ul {
    display: flex;
    gap: 20px;
    color: #fff;
}

.header_menu ul li a{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 72px;
}

.header_menu ul li a.active {
    color: #000;
    background-color: #DBA953;
}

.header_btn{
    width: 20%;
    display: flex;
    gap: 30px;
}
.header_btn .login{
    position: relative;
    text-transform: capitalize;
    color: #fff;
    overflow: hidden;
}
.header_btn .login div::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #c3943b;
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    transition: .5s;
    transition-delay: .9s;
    
}
.header_btn .login a::before{
    content: "";
    width: 2px;
    height: 100%;
    background-color: #c3943b;
    display: block;
    position: absolute;
    bottom: 100%;
    right: 0;
    transition: .5s;
    transition-delay: .6s;
}
.header_btn .login div::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #c3943b;
    display: block;
    position: absolute;
    bottom: 0;
    left: 100%;
    transition: .5s;
    transition-delay: .3s;
}
.header_btn .login a::after{
    content: "";
    width: 2px;
    height: 100%;
    background-color: #c3943b;
    display: block;
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: .5s;
    transition-delay: .0s;

}
.header_btn .login:hover div::before{
    left: 0;
    transition: .5s;
    transition-delay: 0;

}
.header_btn .login:hover a::before{
    bottom: 0;
    transition: .5s;
    transition-delay: 0.3s;
}
.header_btn .login:hover div::after{
    left: 0;
    transition: .5s;
    transition-delay: 0.6s;

}
.header_btn .login:hover a::after{
    bottom: 0;
    transition: .5s;
    transition-delay: 0.9s;
}
.header_btn .login a{
    color: #fff;
}
.header_btn .demo{
    text-transform: capitalize;
    color: #fff;
    background-color: #c3943b;
}
.header_btn .demo:hover{
    background-color: #c3943b;
}
.header_menu_btn{
    display: none;
    text-align: end;
}

@media only screen and (max-width:1024px){
    #Header{
        padding: 20px 30px;
    }

    .header_menu{
        width: 50%;
    }
    .header_btn{
        width: 25%;
    }
}
@media only screen and (max-width:768px){
    #Header{
        padding: 20px 10px;
    }
    .header_menu{
        position: absolute;
        background-color: #151a26;
        width: 100%;
        top: 50px;
        left: 0;
        padding: 20px;
        display: none;
    }
    .header_menu.active{
        display: block;
    }
    .header_menu ul{
        flex-direction: column;
    }
    .header_logo{
        width: 20%;
    }
    .header_btn{
        width: 35%;
    }
    .header_menu_btn{
        display: block;
        width: 10%;
        color: #fff;
    }
}
@media only screen and (max-width:480px){
    #Header{
        padding: 20px 10px;
    }
    .header_menu{
        width: 100%;
        display: none;
    }
    .header_menu.active{
        display: block;
    }
    .header_logo{
        width: 30%;
    }
    .header_logo img{
        width: 100%;
    }
    .header_btn{
        width: 50%;
        gap: 10px;
    }
}