.container {
    width: 100%;
    background-color: white;
    border-radius: 12px;
    padding: 16px 24px;
    position: relative;
}

.container h6 {
    font-size: 18px;
    font-weight: 500;
}

.titleContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.container hr {
    background-color: var(--bg-grey);
    color: var(--bg-grey);
    border: none;
    height: 1px;
    margin: 8px 0;
}

.container h3 {
    font-size: 28px;
    font-weight: 600;
    margin: 12px 0;
}