.Income {
    background-color: #f1f3f9;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
.container {
    width: 75%;
    margin: 0 auto;
    background-color: #f1f3f9;
}
.container > h1{
    margin: 20px 0 40px 0;
}
.income_dash{
    width: 25%;
    padding: 10px 50px;
}
.income_dash ul{
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 10px #cdcdcd;
    border-radius: 5px;
}
.income_dash ul li{
    display: flex;
    align-items: center;
    gap: 20px;
}
.verify_dash ul li a{
    color: #000;
}
.income_dash ul li i{
    color: #bdbec2;
}
.income_dash ul li:nth-child(2) i{
    color: #d3ab61;
}
/*  */
.income_verify{
    width: 70%;
}
.general_container {
    background-color: #F1F3F9;
}
.general_info {
    background-color: #F1F3F9;
    margin: 0px 40px;
    padding: 20px 0px;
}
.general_input_sect {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px;
}
.input_icons{
    position: relative;
}
.input_icon{
    /* display: inline-block; */
    position: relative;
}
.general_input_sect  > div i {
    position: absolute;
    color: rgb(61, 61, 61);
    font-weight: 200;
    top: 8px;
    right: 20px;
    font-size: 20px;
    margin: 0px 10px;
}
.input_sect {
    margin: 10px 0px;
    width: 50%;
    padding-right: 40px;
}
.input_sect p {
    /* font-size: 14px; */
    margin: 5px 0px;
    text-transform: capitalize;
}
.input_sect p sup {
    color: #AF0A0A;
    font-size: 14PX;
    font-weight: bold;
}
.input_sect input {
    display: block;
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    outline: none;
}
.radio_sect{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}
.radio_sect > input{
    width: 20px !important;
    margin: 0px;
    box-shadow: none;
}
.radio_sect h4 {
    /* font-size: 15px; */
    color: rgb(83, 83, 83);
    text-transform: capitalize;
    font-weight: 600;
}
.radio_sect label p {
    font-size: 15px;
}
.input_sect button {
    padding: 10px 0px;
    width: 40%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #3a4250;
}
.input_sect button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.input_sect .clr_btn {
    background-color: #D2C4A6;
}
.general_input_sect .input_sect ::placeholder {
    color: black;
}
.button_sec{
    margin: 30px 0;
}
.previous_btn button{
    color: #fff;
    border: 2px solid #3a4250;
    border-radius: 5px;

}
.previous_btn button:hover{
    background-color: #fff;
    color: #3a4250;
}
.submit_btn{
    text-align: end;
}
.submit_btn button{
    background-color: #d3ab61;
    color: #fff;
    border: 2px solid #d3ab61;
    border-radius: 5px;
}
.submit_btn button:hover{
    border: 2px solid #d3ab61;
    background-color: #000;
    color: #d3ab61;
    border-radius: 5px;
}
.Income .income_image{
    padding: 9px 10px;
    border: 3px solid #f1e1c4;
    background-color: #d3ab61;
}
/* css responsive */




@media only screen and (max-width:1024px){
    .Income{
        width: 100%;
    }
    .income_dash{
        width: 100%;
    }
    .income_verify{
        width: 100%;
        margin: 30px 0;
    }
    .input_sect input{
        padding: 12px 10px !important;
    }
    .general_info {
        width: 10   0%;
        margin: 0px;
        padding: 10px 40px;
    }
    .general_info  h1 {
        padding: 10px 0px;
        margin: 10px 0 0px 0;

    }
}

@media only screen and (max-width:980px) {
    .general_info {
        width: 100%;
        margin: 0px;
        padding: 10px 40px;
    }
    .general_info  h5 {
        padding: 10px 0px;
        margin: 0px ;
    }
}

@media only screen and (max-width:768px){
    .Income{
        width: 100%;
    }
    .general_info {
        width: 100%;
        margin: 0px;
        padding: 0px 40px;
    }
    .general_info  h5 {
        padding: 10px 0px;
        margin: 0px ;
    }
}

@media only screen and (max-width:480px){
    .Income{
        width: 100%;
        padding: 10px;
    }
    .general_info {
        width: 100%;
        margin: 0px;
        padding: 10px 40px;
    }
    .general_info  h5 {
        padding: 10px 0px;
        margin: 10px 0px;
    }
    .input_sect {
        width: 100%;
    }
    .input_sect button{
        width: 100% !important;
    }
    .input_sect{
        padding-right: 0 !important;
    }
    .loan_docs{
        padding: 0;
    }
}
