.Loan {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.label {
    display: inline-block;
    color: #151a26;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 8px;
  }